  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Url</th>
        <th scope="col">Name</th>
        <th scope="col">Valid</th>
        <th scope="col">Created</th>
      </tr>
    </thead>
    <tbody>
      {% for image in images %}
      <tr>
        <th scope="row">{{ image.id }}</th>
        <td>{{ image.title }}</td>
        <td>{{ image.description }}</td>
        <td>{{ image.image_url|length > 50 ? image.image_url|slice(0, 50) ~ '...' ~ image.image_url|slice(image.image_url|length-5, image.image_url|length) : image.image_url  }}</td>
        <td>{{ image.image_name }}</td>
        <td>
          <a href="{{ path('aprove', {"id" : image.id }) }}">
            <b class="{{ image.valid ? 'text-success' : 'text-danger' }}">{{ image.valid ? 'Valid' : 'Invalid' }}</b>
          </a>
        </td>
        <td>{{ image.created|date("Y/m/d") }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>